# --- Python Specific ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv
venv/
ENV/

# --- Streamlit Specific ---
.streamlit/config.toml
.streamlit/secrets.toml

# --- Machine Learning/Large Files ---
*.h5
*.tflite
*.pb
*.variables/
# Ignore data/images folder if you are storing user uploads locally
uploads/
temp/

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Environment Variables ---
.env
.flaskenv
